<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src= "node_modules/angular/angular.min.js"></script>
		<script src= "index.js"></script>
</head>
<body>
	<div class="container" ng-controller="myCtrl">
		<h1>Answer Key Locator</h1>

			<table class="table">
				<tr>
					<th>Test Type</th>
				</tr>
				<tr ng-repeat="test in myWelcome">
					<td>{{ test.testtype }}</td>
				</tr>
			</table>

			<table  class="table">
				<tr>
					<th>Tests Available</th>
				</tr>
				<tr ng-repeat="test in testInstances">
					<td>{{ test.name }}</td>
				</tr>
			</table>

			<table  class="table">
				<tr>
					<th>Tests Sections</th>
				</tr>
				<tr ng-repeat="section in testSections">
					<td>{{ section.name }}</td>
					<td>{{ section.test_id }}</td>
					<td>{{ testName }}</td>
				</tr>
			</table>

	</div>
</body>
</html>